.list-title {
    color: var(--h1-color);
}

:root {
    --block-spacing-vertical: calc(var(--spacing) * 1);
}

@media (min-width: 576px) {
    body > header,
    body > main,
    body > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 1);
    }
}
@media (min-width: 768px) {
    body > header,
    body > main,
    body > footer,
    section {
        --block-spacing-vertical: calc(var(--spacing) * 1);
    }
}
@media (min-width: 992px) {
    body > header,
    body > main,
    body > footer,
    section {
        --block-spacing-vertical: calc(var(--spacing) * 1);
    }
}
@media (min-width: 1200px) {
    body > header,
    body > main,
    body > footer,
    section {
        --block-spacing-vertical: calc(var(--spacing) * 1);
    }
}

h1, h4 {
    --typography-spacing-vertical: 1rem;
}
