{% extends "tracker/index.html" %}

{% block page_title %}{{artist_name}}{% endblock %}


{% block content %}
<h1><a class="list-title" href="/artist/{{artist_id}}">{{artist_name}}</a></h1>
<hr>

<h2>Albums</h2>

{% if album_ranking %}
<h3>Album Rankings</h3>
<ol>
    {% for album in album_ranking.albums %}
    <li>
        {{album.title}} ({{album.year}})
        {% if album.notes %}
        <br><em>{{album.notes}}</em>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}

<h3>Albums on top ten lists</h3>

{% if albums.charted %}
<h4>Top Tens</h4>
<ul>

    {% for album in albums.charted %}
    <li>{{album.title}} - #{{album.rank}}, <a href="/albums/{{album.year}}">{{album.year}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if albums.honorable_mentions %}
<h4>Honorable Mentions</h4>
<ul>
    {% for album in albums.honorable_mentions %}
    <li>{{album.title}} - <a href="/albums/{{album.year}}">{{album.year}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if not albums.charted and not albums.honorable_mentions %}
<p>None!</p>
{% endif %}

{% if albums.other_albums %}
<h3>Other Albums</h3>
<ul>
    {% for album in albums.other_albums %}
    <li>{{album.title}} - {{album.year}}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Obsession List Stats</h2>

<p><b>Songs across all lists:</b> {{obsessions.song_count}}</p>
<p><b>Number of lists:</b> {{obsessions.list_count}}</p>
{% if obsessions.lists %}
<table>
    <tr>
        <th><b>Year</b></th>
        <th><b># of songs</b></th>
    </tr>
    {% for song_list in obsessions.lists %}
    <tr>
        <td><a href="/obsessions/{{song_list.year}}">{{song_list.year}}</a></td>
        <td>{{song_list.song_count}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
