{% load static %}

<link rel="stylesheet" href="{% static 'tracker/normalize.css' %}">
<link rel="stylesheet" href="{% static 'tracker/skeleton.css' %}">
<link rel="stylesheet" href="{% static 'tracker/styles.css' %}">
<title>{% block page_title %}Andrew's Music Tracking{% endblock %}</title>

<div class="container">
    <h4>Andrew's Music Tracking</h4> {# make this a link #}

    {# navbar #}
    <hr>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
