{% extends "tracker/index.html" %}

{% block page_title %}{{page_title}}{% endblock %}


{% block content %}
<h1><a class="list-title" href="/obsessions/stats">{{page_title}}</a></h1>
<hr>

<h2>By Number of Songs</h2>
<table>
    <tr>
        <th><b>Artist</b></th>
        <th><b># of songs (across all years)</b></th>
    </tr>
    {% for artist in by_songs %}
    <tr>
        <td>{{artist.name}}</td>
        <td>{{artist.songs}}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2>By Number Of Years</h2>
<table>
    <tr>
        <th><b>Artist</b></th>
        <th><b># of years (with at least 1 song)</b></th>
    </tr>
    {% for artist in by_years %}
    <tr>
        <td>{{artist.name}}</td>
        <td>{{artist.years}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
