{% extends "tracker/index.html" %}

{% block page_title %}{{list_title}}{% endblock %}


{% block content %}
<h1><a class="list-title" href="/albums/{{year}}">{{list_title}}</a></h1>
<hr>

{% if honorable_mentions %}
<p><em>Honorable Mentions: {% for album in honorable_mentions %} {{album.album_title}} - {{album.artist}};{% endfor %}</em></p>

<hr>
{% endif %}

{% for album in top_ten %}
<p class="list-item">#{{album.rank}}: {{album.album_title}} - {{album.artist}}</p>
{% endfor %}
{% endblock %}
